.cherry-widget {
    padding-top: 100px;
}

.main-all_container-lL2Wi {
        color:#000000;
        text-align: left;
    } 
.hero-hero_container-3CuNC .hero-image_container-Sn43m {
    max-width: 430px;
    align-self: end;
}
.hero-hero_container-3CuNC .hero-image_container-Sn43m > img {
    object-fit: contain;
    margin: 0;
    height: 430px;
    visibility: visible;
    border: 0 none!important;
    border-radius: 0!important;
    box-shadow: none!important;
}
@media only screen and (max-width: 410px) {
    .hero-hero_container-3CuNC .hero-image_container-Sn43m > img {
        height: 210px;
    }
}
.howItWorks-info_container-1CA_G {
    max-height: 648px;
    position: relative;
    overflow: hidden;
}
.calculator-calculator_container-owFzI input[type="range"] {
    padding: 0;
        border: 0 none;
        color: inherit;
}
.howItWorks-video_container-3o6DC {
    max-height: 475px;
}